<h3>Edit Applicant</h3>
<%= render 'form', applicant: @applicant,
           url: applicant_path,
           method: :patch,
           submit_text: t('view.common.update') %>
<p>
  <%= link_to t('view.common.back'), applicants_path, class: 'btn-sm btn btn-secondary' %>
</p>