<h3>New Applicant</h3>
<%= render 'form', applicant: @applicant,
           url: applicants_path,
           method: :post,
           submit_text: t('view.common.create') %>
<p>
  <%= link_to t('view.common.back'), applicants_path, class: 'btn-sm btn btn-secondary' %>
</p>