<h3>Edit Batch</h3>
<%= render 'form', batch: @batch,
           url: batch_path,
           method: :patch,
           submit_text: t('view.common.update') %>
<p>
  <%= link_to t('view.common.back'), batches_path, class: 'btn btn-secondary' %>
</p>