<h3>New Batch</h3>
<%= render 'form', batch: @batch,
           url: batches_path,
           method: :post,
           submit_text: 'Create' %>
<p>
  <%= link_to 'Back', batches_path, class: 'btn btn-secondary' %>
</p>